@model MineradorRH.Models.DicionarioAgrupador

@{
    ViewBag.Title = "Detalhes sinônimo";
}

<h2>Detalhes do sinônimo</h2>

<div>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.Palavra)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Palavra)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.PalavraSinonimo)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.PalavraSinonimo)
        </dd>

    </dl>
</div>
<p>
    <a class="btn btn-info" href="@Url.Action("Index", new { id = Model.PalavraAgrupadoraID })">Voltar</a>
    <a class="btn btn-success" href="@Url.Action("Edit", new { id = Model.ID })">Editar</a>
</p>