@model MineradorRH.Models.Agendamento

@{
    ViewBag.Title = "Details";
}

<h2>Details</h2>

<div>
    <h4>Agendamento</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.ConfiguracaoArvore.Nome)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.ConfiguracaoArvore.Nome)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.FrequenciaAgendamento)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.FrequenciaAgendamento)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Horario)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Horario)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.DataCriacao)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.DataCriacao)
        </dd>

    </dl>
</div>
<p>
    @Html.ActionLink("Edit", "Edit", new { id = Model.ID }) |
    @Html.ActionLink("Back to List", "Index")
</p>
