<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>@ViewBag.Title - Rafael Semann</title>
    @Styles.Render("~/Content/css")
    @Scripts.Render("~/bundles/modernizr")
    <link href="~/Content/bootstrap-table.min.css" rel="stylesheet" />
</head>
<body>
    <div class="navbar navbar-inverse navbar-fixed-top navbar-principal">

        <div class="container">
            <ul class="nav navbar-nav" style="font-weight:bold;">
                <li class="navbar-header">
                    @Html.ActionLink("Home", "Index", "Home", new { area = "" }, new { @class = "navbar-brand" })
                </li>
                <li class="dropdown">
                    <a href="#" class="dropdown-toggle" data-toggle="dropdown">Mineração de dados<b class="caret"></b></a>
                    <ul class="dropdown-menu">
                        @if (User.IsInRole("Mantedor"))
                        {
                            <li>@Html.ActionLink("Estrurar árvore", "Index", "ConfiguracaoArvore")</li>
                        }
                        <li>@Html.ActionLink("Árvores geradas", "Index", "ArvoreGerada")</li>
                    </ul>
                </li>
                @if (User.IsInRole("Mantedor"))
                {
                    <li class="dropdown">
                        <a href="#" class="dropdown-toggle" data-toggle="dropdown">Mineração de texto<b class="caret"></b></a>
                        <ul class="dropdown-menu">

                            <li>@Html.ActionLink("Stop Words", "Index", "StopWord")</li>
                            <li>@Html.ActionLink("Agrupadores de texto", "Index", "PalavraAgrupadora")</li>
                        </ul>
                    </li>
                }                
                <li>@Html.ActionLink("PMML", "Consultas", "ArvoreGerada")</li>
                @if (User.IsInRole("Mantedor"))
                {
                    <li class="dropdown">
                        <a href="#" class="dropdown-toggle" data-toggle="dropdown">Configurações<b class="caret"></b></a>
                        <ul class="dropdown-menu">
                            <li>@Html.ActionLink("Conexão base RH", "Index", "AcessoBaseRh")</li>
                            <li>@Html.ActionLink("Gerenciar grupos", "ManageUserRoles", "Roles")</li>
                        </ul>
                    </li>
                }
            </ul>
            @Html.Partial("_LoginPartial")
        </div>
    </div>
    <div class="tela">
        @RenderBody()
    </div>
    <div id="divProcessing" style="display:none">
        <div id="divProgress"><b style="font-size:22px">Processando árvore, gerando gráfico . . .</b> <img src="../../Content/img/ajax-loader.gif"></div>
    </div>
    @Scripts.Render("~/bundles/jquery")
    @Scripts.Render("~/bundles/bootstrap")


    @Scripts.Render("~/bundles/myScripts")
    <script src="~/Scripts/bootstrap-table.min.js"></script>
    <script src="~/Scripts/bootstrap-table-pt-BR.min.js"></script>

    @RenderSection("scripts", required: false)
</body>
</html>
